<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best path</title>
    <link rel="stylesheet" href="static\styles\faq.css">

  </head>
  <body>
    <div class="offcanvas2" style="background-color: orange">
      <div
        class="offcanvas offcanvas-end show text-bg-dark"
        tabindex="-1"
        id="offcanvasDark"
        aria-labelledby="offcanvasDarkLabel"
        style="background-color: whitesmoke"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">
            Cab<span style="color: orange">Guru</span>
          </h5>
        </div>
        <div
          class="offcanvas-body"
          style="
            list-style-type: none;
            height: 55vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          "
        >
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <img src="static/image/2738307_compare_law_libra_icon.png" alt="Compare" />
                Compare Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="best_path">
                <img src="static/image/2216343_location_map_navigation_path_pin_icon.png" alt="Best Path" />
                Best Route
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="fare_estimation">
                <img src="static/image/290147_bank_cash_finance_money_payment_icon.png" alt="Fare Prediction" />
                Fare Estimation
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact_us">
                <img src="static/image/contact-mail.png" alt="Contact" />
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faq">
                <img src="static/image/5349749_faq_faqs_help_info_information_icon.png" alt="FAQ" />
                FAQs
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="cnt1">
      <div class="cnt2">
        <div class="cnt2_1">Jitna Puchoge, Utna Paaoge 😃😃</div>
        <div class="cnt2_2">
          <div class="faq-item">
            <div class="faq-question">
              Q: How does the fare estimation work?
            </div>
            <div class="faq-answer">
              A: The fare estimation is calculated based on distance, time, and
              traffic conditions.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">Q: How do I select the best route?</div>
            <div class="faq-answer">
              A: You can compare different routes based on estimated time,
              distance, and fare.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">Q: Is there a cancellation fee?</div>
            <div class="faq-answer">
              A: Cancellation fees may apply depending on the service provider's
              policies.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">
              Q: How does the fare estimation work?
            </div>
            <div class="faq-answer">
              A: The fare estimation is calculated based on distance, time, and
              traffic conditions.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">Q: How do I select the best route?</div>
            <div class="faq-answer">
              A: You can compare different routes based on estimated time,
              distance, and fare.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-question">Q: Is there a cancellation fee?</div>
            <div class="faq-answer">
              A: Cancellation fees may apply depending on the service provider's
              policies.
            </div>
          </div>
        </div>
        <div class="cnt2_3">
          <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
              <!-- <button   class="btn btn-outline-success me-2" type="button">
                Contact Us
              </button> -->
              <a href="contact_us">
                <button   class="btn btn-outline-success me-2" type="button">
                    Contact Us
                  </button>
              </a>
            </form>
          </nav>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
